site:
  title: Hercules CI Documentation
  url: https://docs.hercules-ci.com
  start_page: hercules-ci::index.adoc
content:
  sources:
  - url: .
    start_path: docs
    branches:
    - HEAD
    version: master
    web_url: https://github.com/hercules-ci/docs.hercules-ci.com
    edit_url: true
  - url: https://github.com/hercules-ci/arion
    start_path: docs
    branches:
    - main
    version: master
  - url: https://github.com/hercules-ci/hercules-ci-effects
    start_path: docs
    branches:
    - master
    version: master
  - url: https://github.com/hercules-ci/hercules-ci-agent
    start_path: docs
    branches:
    - master
    version: master
  - url: https://github.com/hercules-ci/hercules-ci-agent
    start_path: docs
    branches:
    - 0.9-maintenance
    version: '0.9'
  - url: https://github.com/hercules-ci/hercules-ci-agent
    start_path: docs
    branches:
    - 0.8-maintenance
    version: '0.8'
  # other features?
  #  branches: master
  #  counter: 0
  #  tags: v*
ui:
  bundle:
    url: ./ui-bundle
  supplemental_files: ./ui
asciidoc:
  attributes:
    experimental: ''
    sectlinks: ''
    sectanchors: ''
    hide-uri-scheme: ''
output:
  dir: ./public
antora:
  extensions:
  - ./lib/generated-content.js
