site:
  title: Hercules CI Documentation
  url: https://docs.hercules-ci.com
  start_page: hercules-ci::index.adoc
content:
  sources:
  - url: .
    start_path: docs
    branches:
    - HEAD
    version: master
  - url: ../arion
    start_path: docs
    branches:
    - HEAD
    version: master
  - url: ../hercules-ci-effects
    start_path: docs
    branches:
    - HEAD
    version: master
  - url: ../hercules-ci-agent
    start_path: docs
    branches:
    - HEAD
    version: master
  - url: ../hercules-ci-agent
    start_path: docs
    branches:
    - 0.9-maintenance
    version: '0.9'
  - url: ../hercules-ci-agent
    start_path: docs
    branches:
    - 0.8-maintenance
    version: '0.8'
  # To preview documentation from a feature branch worktree, add an entry like:
  # - url: ../hercules-ci-agent+my-feature
  #   start_path: docs
  #   branches:
  #   - HEAD
  #   version: my-feature
ui:
  bundle:
    url: ./ui-bundle
  supplemental_files: ./ui
asciidoc:
  attributes:
    experimental: ''
    sectlinks: ''
    sectanchors: ''
    hide-uri-scheme: ''
output:
  dir: ./public
antora:
  extensions:
  - ./lib/generated-content.js
