[build]
base = "netlify"
publish = "public"
command = "./node_modules/.bin/antora --generator=@antora/xref-validator ../antora-playbook.yml && ./node_modules/.bin/antora --url ${DEPLOY_PRIME_URL:-$URL} --html-url-extension-style=indexify --redirect-facility=netlify ../antora-playbook.yml"

[build.environment]
NODE_VERSION = "10"
ANTORA_CACHE_DIR = "node_modules/.cache/antora"
