<div class="ui inverted vertical masthead center aligned segment">
  <div class="ui inverted four item menu fixed">
    <div class="ui container">
          <a class="item" href="https://hercules-ci.com">
            <img src="https://hercules-ci.com/images/logo/hercules.png" style="margin-right: 30px">
            <span class="ui computer only grid"> Hercules CI</span>
          </a>
          <a class="item" href="/">Documentation</a>
          <a class="item" href="https://hercules-ci.com/about">About</a>
          <a class="item" href="https://blog.hercules-ci.com">Blog</a>
    </div>
  </div>
</div>
