<div class="ui inverted vertical masthead center aligned segment">
  <div class="ui huge inverted menu">
    <div class="ui container">
          <a class="header item" href="https://hercules-ci.com">
            <img src="https://hercules-ci.com/images/logo/hercules.png" style="margin-right: 10px">
            Hercules CI
          </a>
          <a class="item" href="/">Docs</a>
          <div class="menu right">
            <a class="item" href="https://hercules-ci.com/about">About</a>
            <a class="item" href="https://blog.hercules-ci.com">Blog</a>
          </div>
    </div>
  </div>
</div>
