/* Medium asciidoctor theme, modified */
@import "asciidoctor.css";
html, body {
  font-family:"Fira Sans",Helvetica Neue,Arial,Helvetica,sans-serif !important;
}

#toc ul {
  /* work around otherwise broken css */
  margin-left: 1.25em !important;
}

/* Responsiveness fixes */
img {
  max-width: 100%;
}
video {
  max-width: 85vw;
}

@media all and (max-width: 600px) {
table {
  width: 55vw!important;
  font-size: 3vw;
}

pre {
  font-size: large;
}
}