<header class="header" role="banner">
  <nav class="ui inverted menu navbar">
    <a class="item brand" href="{{site.url}}">{{site.title}}</a>
    {{#if env.ALGOLIA_API_KEY}}
    <div class="item hide-for-print">
      <div class="ui inverted transparent icon input">
        <input id="search-input" type="text" placeholder="Search docs">
        <i class="search icon"></i>
      </div>
    </div>
    {{/if}}
    <a class="item navbar-burger" data-target="topbar-nav">
      <i class="bars icon"></i>
    </a>
    <div id="topbar-nav" class="right menu">
      <a class="item" href="mailto:help@hercules-ci.com">Support</a>
      <div class="item theme-toggle" title="Toggle theme">
        <i class="adjust icon"></i> <span class="theme-label">Auto</span>
      </div>
      <a class="item" href="https://hercules-ci.com/dashboard">Dashboard</a>
    </div>
  </nav>
</header>
